[submodule "study-watson"]
	path = study-watson
	url = git@github.com:LeeHanYeong/StudyWatson.git
[submodule "fitcha"]
	path = fitcha
	url = git@github.com:LeeHanYeong/fitcha.git
[submodule "inaina"]
	path = inaina
	url = git@github.com:LeeHanYeong/inaina.git
[submodule "mashup"]
	path = mashup
	url = git@github.com:LeeHanYeong/Mash-Up-Backend.git
