[submodule "projects/washble"]
	path = projects/washble
	url = https://github.com/LeeHanYeong/Washble.git
[submodule "projects/inaina"]
	path = projects/inaina
	url = https://github.com/LeeHanYeong/inaina.git
[submodule "projects/mashup"]
	path = projects/mashup
	url = https://github.com/LeeHanYeong/Mash-Up-Backend.git
[submodule "projects/study-watson"]
	path = projects/study-watson
	url = https://github.com/LeeHanYeong/StudyWatson.git
[submodule "projects/lhy"]
	path = projects/lhy
	url = https://github.com/LeeHanYeong/lhy.git
